*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.head_div{
    position: relative;
    height: 40vh;
    background-image: url("../assests/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.head_div::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent 50%, transparent 50%, rgba(0, 0, 0, 0.5));
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.head_content{
    position: relative;
    z-index: 2;
    color: white;
}

.text_container h1{
    font-weight: 700;
}

.head_items{
    display: flex;
    justify-content: space-between;
}

.head_items p{
    display: inline;
    color: white;
    font-weight: 700;
    margin: 1em;
}

.download_now{
    background-color: red;
    padding: .5em 1em;
    border-radius: 20px;
}

.download_now:hover{
    background-color: rgb(0, 186, 186);
}

.text_container p{
    line-height: 1.5em;
}

.text_container{
    width: 50%;
    margin: auto;
    text-align: left;
    color: white;
}

.download_container{
    width: 30%;
    text-align: center;
    margin-top: 30px;
}

.download_container p{
    font-weight: 700;
    padding: 10px 25px;
    background-color: rgb(0, 186, 186);
    border-radius: 30px;
}

.download_container p:hover{
    background-color: red;
}

.bottom_div{
    height: 60vh;
}

.img_house{
    width: 50%;
    margin: auto;
    text-align: center;
}

.anime_buttons p {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 25px;
}

.anime_buttons p:hover{
    background-color: rgb(0, 186, 186);
    color: white;
    border: none;
}

.anime_buttons{
    width:auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1em;
    margin: 0 0 1em 0;
    padding: 0 2em;
}

.main_img_container{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 1em;
    column-gap: 1em;
    row-gap: 1em;
}

.main_img_container img{
    width: 100%;
}